<head>
  <link rel="stylesheet" href="app.component.css">
   
</head>

<body>
  <h1 style="text-align: center;">Formulario desde Angular</h1>
  <form class="mi-formulario" [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre"
        placeholder="ingresa nombre">
      <label for="apellido">Apellido:</label>
      <input type="text" formControlName="apellido"
        placeholder="ingresa apellido">
      <label for="email">Email:</label>
      <input type="email" 
        formControlName="email"
        placeholder="correo@correo.com">
    </div>   

    <div>
      <label for="contraseña">Contraseña:</label>
      <input type="password" 
      formControlName="contraseña"
      placeholder="minimo 6 caracteres">
    </div>

    <button type="submit" >
      Registrase
    </button>
  </form>
</body>

